<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Enter Length </label>
        <input
          (input)="onLengthInput($event)"
          type="number"
          max="25"
          min="6"
          value="6"
        />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" checked />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input
              (change)="onChangeUseNumbers()"
              type="checkbox"
              name=""
              id=""
            />
            Use Numbers</label
          >
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input
              (change)="onChangeUseSymbols()"
              type="checkbox"
              name=""
              id=""
            />
            Use Symbols</label
          >
        </div>
      </div>

      <button
        [disabled]="!(includeLetters || includeNumbers || includeSymbols)"
        (click)="onButtonClick()"
        class="button is-link is-fullwidth"
      >
        Generate 🔑
      </button>

      <div class="box" *ngIf="password">
        <label for="">Your Password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>
